@{ ViewBag.Title = "TicketBook"; }

<h2>Book Your tickets</h2>
<br />

@Html.Label("Intermediate Stations")
@Html.ActionLink("click here", "TrainSchedule", "TrainUser", routeValues: new { id = (int)@Session["Traindid"] }, htmlAttributes: new { @class = "btn btn-primary" })


@using (Html.BeginForm("TicketBook", "BookTicket", FormMethod.Post))
{
<br />
                <br />
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.Label("Coach")
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

                                        @Html.DropDownList("Coachvalue", new List<SelectListItem>
                                               {
                   new SelectListItem{Text="1 Tier AC" , Value="1 Tier AC"},
                    new SelectListItem{Text="2 Tier AC" , Value="2 Tier AC"},
                     new SelectListItem{Text="Sleeper class" , Value="Sleeper class"},
                      new SelectListItem{Text="General" , Value="General"}
               }, "Select any Coach")
                                    </div>


                                    <div class="form-group">
                                        @Html.Label("Seat Location")
                                        &nbsp;&nbsp;
                                        @Html.DropDownList("SeatLocation", new List<SelectListItem>
                                               {
                   new SelectListItem{Text="Upper" , Value="Upper"},
                    new SelectListItem{Text="Middle" , Value="Middle"},
                     new SelectListItem{Text="Lower" , Value="Lower"},
                      new SelectListItem{Text="Side" , Value="Side"}
               }, "Select any Seat Location")


                                    </div>
                                    <div class="form-group">
                                        @Html.Label("No Of Tickets")
                                        &nbsp;&nbsp;
                                        @Html.TextBox("nooftickets")
                                    </div>
                                </div>

                                                <input type="submit" value="Book Ticket" class="btn btn-primary" />}