@model RailwayResevationSystem.Models.User



@{
    ViewBag.Title = "Login";
}
@{ var para = Request.QueryString["msg"];
                if (para == "success")
                {

                    <div class="alert alert-success alert-dismissable" style="font-size:20px;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Registered Successfully</strong>
                    </div>
                }
    }

<h2 style="text-align:center;">User Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="align-content:center;width:50%;margin:auto;">
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-success" />
                </div>
            </div>
        </div>
        <div style="font-size:30px;color:black;">
            @Html.ActionLink("New user!", "Register")
        </div>
    </div>
}


