@model RailwayResevationSystem.Models.Train

@{ ViewBag.Title = "FindTrain"; }
@{ var para = Request.QueryString["msg"];
    if (para == "nopay")
    {

        <div class="alert alert-info alert-dismissable" style="font-size:20px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>No Payments made till now!!</strong>
        </div>
    }
}

<h1 style="margin-left:250px;">Plan Journey</h1>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfTravel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DateOfTravel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateOfTravel, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Search" class="btn btn-success" />
                        </div>
                    </div>
                </div>}
<div>

    <input type="button" value="Your Bookings" class="btn btn-primary"
           onclick="location.href='@Url.Action( "MyBookings", "User")';" />


    <input style="padding:10px,10px,10px,10px;" type="button" value="Previous Payments" class="btn btn-primary"
           onclick="location.href='@Url.Action( "PaymentDetails", "User")';" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}